.congrats-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.congrats-wrap .congrats {
  position: absolute;
  background-color: #011627;
  border: 2px solid white;
  border-radius: 6px;
  padding: 10px 20px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 390px) {
  .congrats-wrap .congrats {
    font-size: smaller;
  }
}

.congrats-wrap .congrats b {
  color: #20a4f3;
}
