button.btn {
  background: none;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}
button.btn:hover {
  background-color: #20a4f3;
}
