* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #011627;
  color: white;

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  text-align: center;
}

/* coolors: 011627-ff3366-2ec4b6-f6f7f8-20a4f3 */
